<div class="menu-container">
    <button mat-button [matMenuTriggerFor]="menu">Productos</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>Concentrados</button>
        <button mat-menu-item>Juguetes Medicinas</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="service">Servicios</button>
    <mat-menu #service="matMenu">
        <button mat-menu-item>Baña a tu mascota</button>
        <button mat-menu-item>Peluqueria</button>
        <button mat-menu-item>Veterinaria</button>
    </mat-menu>
</div>