<footer class="text-center mt-12 mb-5">
    <p>Design by &#38; Developed by @Rubencho.</p>
    <div class="my-2">
        <a href="https://twitter.com/RubnMazo" class="bi bi-twitter hover:text-sky-500"></a>
        <a href="https://www.instagram.com/rubenchomazo/" class="bi bi-instagram hover:text-sky-500 px-2"></a>
        <a href="https://www.linkedin.com/in/rubenmazo" class="bi bi-linkedin hover:text-sky-500 px-2"></a>
        <a href="https://github.com/rubenchomazo" class="bi bi-github hover:text-sky-500 px-2"></a>
    </div>
</footer>