<footer class="text-center">
    <p>Design by &#38; Developed by Rubencho.</p>
    <div>
        <a href="https://twitter.com/RubnMazo" class="bi bi-twitter icons"></a>
        <a href="https://www.instagram.com/rubenchomazo/" class="bi bi-instagram icons"></a>
        <a href="https://www.linkedin.com/in/rubenmazo" class="bi bi-linkedin icons"></a>
        <a href="https://github.com/rubenchomazo" class="bi bi-github icons"></a>
        <a href="https://wa.me/+573012892699?text=I%20would%20like%20to%20know%20about%20the%20services%20"
            class="bi bi-whatsapp icons" target="_wsp">
        </a>
    </div>
</footer>