.cards {
    display: flex;
    background: grey;
    padding-top: 10px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23);
}

.card-container {
    display: flex;
    justify-content: center;

}

.container {
    justify-content: center;
    align-items: center;
    width: 100%;
}

.col {
    text-align: center;
    flex: 1;
    border: 1px solid black;
    background-color: aquamarine;
    padding: 1rem;
}

.img-size {
    max-height: 350px;
    text-align: center;
}

.gallery-item {
    border: 1px solid var(--surface-d);
    border-radius: 1px;
    text-align: center;
    width: 70% !important;
    margin: auto;
}