<section>
    <div class="card flex justify-content-center">
        <p-carousel [value]="products" [numVisible]="3" [numScroll]="3" [circular]="true"
            [responsiveOptions]="responsiveOptions">
            <ng-template let-product pTemplate="item">
                <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
                    <div class="mb-3">
                        <img src="https://primefaces.org/cdn/primeng/images/demo/product/{{ product.image }}"
                            [alt]="product.name" class="w-6 shadow-2" />
                    </div>

                    <div>
                        <h4 class="mb-1">{{ product.name }}</h4>
                        <h6 class="mt-0 mb-3">{{ '$' + product.price }}</h6>
                        <p-tag [value]="product.inventoryStatus"
                            [severity]="getSeverity(product.inventoryStatus)"></p-tag>
                        <div class="mt-5 flex align-items-center justify-content-center gap-2">
                            <p-button icon="pi pi-search" [rounded]="true" />
                            <p-button icon="pi pi-star-fill" [rounded]="true" severity="secondary" />
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
    <div class="cards">
        <p-card header="Concentrados" subheader="Concentrado" [style]="{ width: '100%',heigth: '350px' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="./../../assets/img/agility-2.png" class="img-size" />
            </ng-template>
            <p>
                Conozca nuestros mejores concentrados para su mascota
            </p>
            <ng-template pTemplate="footer">
                <p-button [style]="{ 'margin-left': '100px' }" label="Vamos" icon="pi pi-check"></p-button>
            </ng-template>
        </p-card>
        <p-card header="SPA" subheader="SPA y Peluqueria" [style]="{ width: '100%', heigth: '100%' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="./../../assets/img/bano.png" class="img-size" />
            </ng-template>
            <p>
                Disfrute de nuestros servicios de spa y peluqueria para tu mascota
            </p>
            <ng-template pTemplate="footer">
                <p-button [style]="{ 'margin-left': '100px' }" label="Vamos" icon="pi pi-check"></p-button>
            </ng-template>
        </p-card>
        <p-card header="Juguetes" subheader="SPA y Peluqueria" [style]="{ width: '100%', heigth: '350px' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="./../../assets/img/lazos-1.png" class="img-size" />
            </ng-template>
            <p>
                Disfrute de nuestros servicios de spa y peluqueria para tu mascota
            </p>
            <ng-template pTemplate="footer">
                <p-button [style]="{ 'margin-left': '100px' }" label="Vamos" icon="pi pi-check"></p-button>
            </ng-template>
        </p-card>
    </div>
    <div class="card">
        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" styleClass="mr-10"
            size="xlarge" shape="circle"></p-avatar>
        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png" styleClass="mr-2"
            size="large" shape="circle"></p-avatar>
        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png" styleClass="mr-2"
            shape="circle"></p-avatar>
    </div>
</section>